# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/.DS_Store
client/coverage
client/*.local

client/cypress/videos/
client/cypress/screenshots/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.code-workspace
serve.sh
deploy.sh

# Cordova
.DS_Store
apk/DietDraft/node_modules/
apk/DietDraft/plugins/
apk/DietDraft/platforms/
apk/DietDraft/www/
