:root {
  --color-primary: #3089b3;
  --color-secondary: #0745ff;
  --color-danger: #d8062d;

  --color-gray-0: #dfdfdf;
  --color-gray-1: #c2c2c2;
  --color-gray-2: #848484;
  --color-gray-3: #565656;

  --color-bg-light: #f2f2f2;
  --color-bg-dark: #181818;

  --color-text-light: #000000;
  --color-text-dark: #ffffff;
}

:root{
  --color-background: var(--color-bg-light);
  --color-text: var(--color-text-light);

  --color-protein: #8cb596;
  --color-fat: #6a938b;
  --color-carbs: #f0c1aa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-bg-light);
    --color-text: var(--color-text-light);
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
}

small{
  font-size: 12px;
}

button{
  background-color: var(--color-gray-0);
  border: 1px solid var(--color-gray-3);
  color: var(--color-text-light);
  border-radius: 3px;
  padding: 0 6px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  height: 26px
}