<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diet Draft</name>
    <description>An app to plan a diet</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Subtlebit
    </author>
    <icon src="res/icon.png" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3089B3" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="android">
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/icon-adaptive.png" />    
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#3089B3" />
        <preference name="AndroidWindowSplashScreenBackground" value="#3089B3" />
        <preference name="FadeSplashScreen" value="false"/>
    </platform>
</widget>
